# --- GIT & VERSION CONTROL ---
.git
.gitignore
.dockerignore

# --- PYTHON & VIRTUAL ENV ---
__pycache__
*.pyc
*.pyo
*.pyd
venv
env
.env
.venv
.eggs
*.egg-info
dist
build

# --- DATA & EXPERIMENTS ---
data

mlruns
mlflow_data

notebooks
*.ipynb

# --- INFRASTRUCTURE & CONFIGS ---
k8s

docker-compose.yml
Makefile
README.md
tests
docs

# --- IDE & SYSTEM ---
.vscode
.idea
.DS_Store
Thumbs.db

# --- LOGS & TEMP ---
logs
*.log
*.bak
dump.rdb