pandas
numpy
scikit-learn
xgboost
onnx
onnxmltools
skl2onnx
packaging

# API
fastapi
uvicorn
onnxruntime

# UI
streamlit
requests

# MLFLOW
mlflow

# REDIS
redis

# PROMETHEUS & GRAFANA
prometheus-fastapi-instrumentator

# TESTS
aiohttp