apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      securityContext:
        fsGroup: 1000

      containers:
      - name: api
        image: nyc-taxi-mlops-api_service:latest
        imagePullPolicy: Never

        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
          allowPrivilegeEscalation: false

        command: ["uvicorn"]
        args: ["src.api.main:app", "--host", "0.0.0.0", "--port", "8000"]

        ports:
        - containerPort: 8000
        env:
        - name: REDIS_HOST
          value: "redis-service"

        volumeMounts:
        - name: log-volume
          mountPath: /app/logs

      volumes:
      - name: log-volume
        emptyDir: {}

---

apiVersion: v1
kind: Service
metadata:
  name: api-service
spec:
  selector:
    app: api
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: LoadBalancer